<%= form_with(model: @train) do |form| %>
  <%= render 'common/errors', resource: @train %>

  <div>
    <%= form.label 'Номер', style: "display: block" %>
    <%= form.text_field :number %>
  </div>

  <div>
    <%= form.label :current_station, 'Текущая станция' %>
    <!-- collection_select принимает 4 аргумента:
     1) то поле, в которое у нас будет устанавливаться связь (какое поле мы будем связывать в объекте train)
     2) указывается выборка - коллекция тех объектов, из которых мы можем выбирать (список всех моделей)
     3) что у нас будет значением в списке (какое из каждых этих объектов значение будет отправлено в форме
     на сервер)
     4) что будет значением в качестве параметра (какое из полей будет использоваться для отображения
     этого списка пользователю)
     -->
    <%= form.collection_select :current_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div>
    <%= form.submit "#{ @train.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>