<p style="color: green"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>На станции:</strong>
  <% if @train.current_station.present? %>
    <%= @train.current_station.title %>
  <% else %>
    Не указано
  <% end %>
</p>

<p>
  <strong>Вагоны:</strong>
  <ul>
    <% @train.carriages.each do |carr| %>
      <!-- Так как ресурс вложенный, мы должны указать в массиве сначала родительский @train,
       затем вложенный carr. Если в роутинге включим опцию shallow: true,
       то исключаем родительский @train из массива -->
    <li><%= link_to "Вагон №#{carr.number}", carr %></li>
    <% end %>
  </ul>
</p>

<tr>
    <!-- так как carriage - вложенный ресурс, хэлперу new_train_carriage_path мы обязаны
    указать родительский объект, в нашем случае @train -->
  <td><%= link_to 'Добавить вагон', new_train_carriage_path(@train) %> |</td>
  <td><%= link_to "Изменить", edit_train_path(@train) %> |</td>
  <td><%= link_to "Удалить", train_path(@train), data: {
      turbo_method: :delete,
      turbo_confirm: "Вы уверены?"
  } %></td>
</tr>

<div><br>
  <%= link_to 'Назад к поездам', trains_path, method: :get %>
</div>
