<%= form_with(model: resource) do |form| %>
 <%= render 'common/errors', resource: @railway_station %>

  <div>
    <%= form.label 'Название', style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.submit 'Создать' %>
  </div>
<% end %>
