<p style="color: green"><%= notice %></p>

<p>
  <strong>Станция:</strong>
  <%= @railway_station.title %>
</p>

<% if @railway_station.routes.empty? %>
  <p>Станция не входит ни в один маршрут</p>
<% else %>
  <p>Станция входит в следующие маршруты:</p>
  <ul>
    <% @railway_station.routes.each do |route| %>
      <li><%= route.name %></li>
    <% end %>
  </ul>
<% end %>


<div>
  <%= link_to "Изменить", edit_railway_station_path(@railway_station) %> |
  <%= link_to "Удалить", @railway_station, data: {
      turbo_method: :delete,
      turbo_confirm: 'Вы уверены?'
  } %>

  <p><%= link_to "Назад к поездам", railway_stations_path %></p>
</div>
