<p style="color: green"><%= notice %></p>

<p>
  <strong>Название:</strong>
  <%= @route.name %>
</p>

<% if @route.railway_stations.empty? %>
  Список пуст
<% else %>
  <table>
    <thead>
    <tr>
      <td>Название</td>
      <td>Позиция</td>
    </tr>
    </thead>
    <tbody>
    <% @route.railway_stations.each do |station| %>
      <tr>
        <td><%= station.title %></td>
        <td>

        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div>
  <%= link_to "Изменить", edit_route_path(@route) %> |
  <%= link_to "Удалить", @route, data: {
      turbo_method: :delete,
      turbo_confirm: 'Вы уверены?'
  } %>
</div>