<!-- Laouts выносят общие части html кода всех шаблонов и применяются глобально для всех шаблонов
 в приложении, таким образом мы избавляемся от дублирования кода в шаблонах -->
<!DOCTYPE html>
<html>
  <head>
    <title>PoezdUa</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
